<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}">
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/volar/css/admin.css') }}" />
    </head>
{% block title %}{% endblock %}

{% block body %}
<body>
</body>
{% endblock %}
{{ tinymce_init() }}
</html>
