{% extends 'FrontendBundle:Frontend:layout.html.twig' %}

{% block content %}
<div id="contacto">
				<div class="texto">
					<p>{% trans %}Contact.text1{% endtrans %}</p>
<br><br><br><br>


<table high="1000" align="center" border="0" cellpadding="5" cellspacing="0" width="300">
				        <tbody><tr>				                
<td width="150"><div align="left"><b> {% trans %}Contact.mail{% endtrans %}: </b><span class="Estilo5"></span><br>                </div></td>
<td align="left" width="150"><div align="left"> <a href="mailto: info@volarenparapente.com">info@volarenparapente.com</a></div></td>				              </tr>				              
<tr>				                
<td width="150"><div align="left"><b> {% trans %}Contact.tlf{% endtrans %}: </b><span class="Estilo5"></span><br>                </div></td>
<td align="left" width="150"><div align="left"> <strong>+34 633 21 71 41</strong></div></td>
</tr>	
<tr>				                
<td width="150"><div align="left"><b> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> </b><span class="Estilo5"></span><br>                </div></td>
<td align="left" width="150"><div align="left"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div></td>
</tr>

</tbody></table>
			</div>
		</div>
{% endblock %}
