<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}">
{% block head %}
	{% include("FrontendBundle:Frontend:head.html.twig")  %}
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<body>
	<div id="global">
		{% include("FrontendBundle:Frontend:logo.html.twig")  %}
		{% include("FrontendBundle:Frontend:menu.html.twig")  %}
		{% block content %}
		{% endblock %}
		{% include("FrontendBundle:Frontend:footer.html.twig")  %}
	</div>
	{% include("FrontendBundle:Frontend:gstats.html.twig")  %}
</body>
{% endblock %}
</html>
