{% extends 'FrontendBundle:Frontend:layout.html.twig' %}

{% block content %}
			<div id="ubicacion">
				<img class="left" src="{{ asset('img/escuelaA.jpg') }}" alt="Mapa">
				<div class="texto">
					<p class="titulo">{% trans %}School.text0{% endtrans %}</p>
					<p>{% trans %}School.text1{% endtrans %}</p> 

<p>{% trans %}School.text2{% endtrans %}</p>

<p>{% trans %}School.text3{% endtrans %}</p>

<p>{% trans %}School.text4{% endtrans %}</p>

<p>{% trans %}School.text5{% endtrans %}</p>
				</div>
	


				<div id="ubicacion">
				<img class="left" src="{{ asset('img/escuelaB.jpg') }}" alt="Mapa">
					<div class="texto">
						<p class="titulo">{% trans %}School.text6{% endtrans %}</p>
						<p>{% trans %}School.text7{% endtrans %}</p>
	
	<p>{% trans %}School.text8{% endtrans %}</p>
	
	<p>{% trans %}School.text9{% endtrans %}</p>
	
	
	<p>{% trans %}School.text10{% endtrans %}</p>
	
	<p>{% trans %}School.text11{% endtrans %}</p>
					</div>
				</div>
				<div id="ubicacion">
				<img class="left" src="{{ asset('img/escuelaC.jpg') }}" alt="Mapa">
					<div class="texto">
						<p class="titulo">{% trans %}School.text12{% endtrans %}</p>
						<p>{% trans %}School.text13{% endtrans %}</p>
	<p>{% trans %}School.text14{% endtrans %}</p>
	<p>{% trans %}School.text15{% endtrans %}</p>
					</div>
				</div>
			</div>
{% endblock %}
