{% extends 'FrontendBundle:Frontend:layout.html.twig' %}

{% block content %}
		<div id="volamos">
				<table>
					<tbody>
					<tr>
						<td valign="top" width="50%"><img style="margin-top:15px;" class="img1" src="{{ asset('img/0.jpg') }}" valign="top" alt="{% trans %}Tandem.text30{% endtrans %}" height="300" width="410"></td>
						<td valign="top" width="50%"><img style="margin-top:15px;" class="img1" src="{{ asset('img/1.jpg') }}" valign="top" alt="{% trans %}Tandem.text30{% endtrans %}" height="300" width="410"></td>
					</tr>
					<tr>
						<td valign="top">
							<div class="texto" align="left">
							<p class="titulo">{% trans %}Tandem.text1{% endtrans %}</p>
							<p>{% trans %}Tandem.text2{% endtrans %}</p>
							<p>{% trans %}Tandem.text3{% endtrans %}</p>
							<p>{% trans %}Tandem.text4{% endtrans %}</p>
							<p style="padding-bottom:0;"><strong class="titulo">{% trans %}Tandem.text5{% endtrans %}</strong></p>
								<ul>
											<li>{% trans %}Tandem.text6{% endtrans %}</li> 
											<li>{% trans %}Tandem.text7{% endtrans %}</li>
											<li>{% trans %}Tandem.text8{% endtrans %}</li>
											<li>{% trans %}Tandem.text9{% endtrans %}</li>
											<li>{% trans %}Tandem.text10{% endtrans %}</li>					</ul>
										<p style="padding-bottom:0;"><strong class="titulo">{% trans %}Tandem.text11{% endtrans %}</strong><br></p>
										<ul>
											
											<li>{% trans %}Tandem.text12{% endtrans %}</li>
										</ul>
									</div>
						</td>
					<td valign="top"><div class="texto" align="left"><p class="titulo">{% trans %}Tandem.text13{% endtrans %}</p>
										<p>{% trans %}Tandem.text14{% endtrans %}</p>
							<ul>
								<li><strong>{% trans %}Tandem.text15{% endtrans %}</strong>{% trans %}Tandem.text16{% endtrans %}</li>
								<li><strong>{% trans %}Tandem.text17{% endtrans %}</strong>{% trans %}Tandem.text18{% endtrans %}</li>
								<li><strong>{% trans %}Tandem.text19{% endtrans %}</strong>{% trans %}Tandem.text20{% endtrans %}
 </li>
							</ul> 
							<p>{% trans %}Tandem.text21{% endtrans %}</p>
						<p>{% trans %}Tandem.text22{% endtrans %}</p>								</div></td>
					</tr>
					</tbody></table>
					
					<table>
					<tbody><tr><td><img style="margin-top:15px;" class="img1" src="{{ asset('img/despegue_biplaza.jpg') }}" valign="top" alt="{% trans %}Tandem.text23{% endtrans %}" height="480" width="840"></td>
					</tr>
					
					<tr><td>
												
									<br clear="all">
									<div id="tarifas">
										<p class="titulo">{% trans %}Tandem.text24{% endtrans %}</p>
										<p>{% trans %}Tandem.text25{% endtrans %}</p>
									<p class="titulo">{% trans %}Tandem.text26{% endtrans %}</p>
									<p>{% trans %}Tandem.text27{% endtrans %}</p>
									<p>{% trans %}Tandem.text28{% endtrans %}</p>
									<p>
									<p>{% trans %}Tandem.text29{% endtrans %}									</p></div>
					
					</td></tr>
				</tbody></table>

		</div>
{% endblock %}
